
.container {
    max-width: 1200px;
}

.form {
    display: flex;
    align-items: start;
    position: relative;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.input {
    padding: 10px 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 100%;
}
.searchButton {
    padding: 10px 35px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(223, 219, 219);
    margin-left: 10px;
}