ul {
    list-style: none;
    padding: 0;
}
.container {
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.list {
    display: flex;
    flex-wrap: wrap;
}
.separator {
    width: 98vw;
    height: 2px;
    background-color: #ccc;
    margin: 10px 0;
}
